@import "_variables";

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#map {
  width: 63%;
  height: 87vh;
  display: inline-block;
  margin: 5px 0px 5px 5px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  box-shadow: -5px 0px 5px #888888;
}

#travelModeDiv {
  visibility: hidden;
  position: relative;
  top: -89vh;
  float: right;
  width: 34%;
  height: 38px;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  text-align: center;
  padding-left: 10px;
  border: 2px solid lightgrey;
  box-shadow: -5px 0px 5px #888888;
  border-radius: 5px;
}

#sidePanel {
  position: relative;
  top: 0px;
  padding-left: 10px;
  margin: 5px;
  width: 34%;
  height: 87vh;
  float: right;
  overflow: auto;
  border: 2px solid lightgrey;
  box-shadow: -5px 0px 5px #888888;
  border-radius: 5px;

  .carousel-custom {
    button {
      float: right;
    }
  }
  .form-panel {
    text-align: center;

    h2 {
      margin: 20px 0;
    }

    h3 {
      margin: 20px 0;
    }
    .btn {
      width: 90%;
      margin: 20px;
    }

    .btn-info {
      background-color: $brand-grey;
      color: $brand-pink;
      border-color: $brand-pink;
    }

    .btn-secondary {
      background-color: $brand-grey;
      color: $brand-vivid-blue;
      border-color: $brand-vivid-blue;
    }

    .btn-success {
      background-color: $brand-grey;
      color: $brand-green;
      border-color: $brand-green;
    }

    .controls {
      width: 90%;
      border-radius: 3px;
      height: 35px;
      align-items: center;
      margin-left: 5px;
    }

    .card-block {
      padding: 0;
      margin: 0 20px;
      text-align: left;

      .btn {
        float: right;
        width: 50px;
        margin: 0 auto;
        padding: 8px 10px;
      }
    }
    .card {
      border: none;
    }
  }

  #profile {

    button {
      margin: 10px 0;
      width: 100px;
    }
    .btn-danger {
      background-color: $brand-grey;
      color: $brand-pink;
    }
    .controls {
      width: 200px;

    }
  }
}

#friendCarouselDiv {
   visibility: hidden;
   float: right;
   overflow: auto;
   height: 70px;
   text-align: center;
  //  color: black;
   width: 34%;
   position:absolute;
   top: 102px;
   left: 77.4%;
   border: 5px solid blue;
   border: 2px solid lightgrey;
   box-shadow: -5px 0px 5px #888888;
   border-radius: 5px;
}

#pac-input {
  width: 300px;
}
#carousel-example-generic {
   margin: 20px auto;
   width: 400px;
}

#carousel-custom {
   margin: 10px auto;
   width: 100%;
}


.priceLevel{
  width: 15px;
  height: 15px;
}

#placesItem {
  min-height: 162px;
  overflow: hidden;

  .textContainer {
    width: calc(100% - 175px);
    float: left;
    vertical-align: top;
    padding-right: 10px;
    word-break: break-all;

    h6 {
      font-size: 20px;
    }
  }
}

#imageContainer {
  height: 150px;
  width: 150px;
  margin-top: 5px;
  margin-right: 15px;
  background-size: cover;
  display: block;
  float: right;
  border-radius: 5px;
  vertical-align: top;
}


a, #placesItem a, #friendCarouselDiv h4 {
  cursor: pointer; cursor: hand;
  display: block;
}

.btn-primary {
  background-color: $brand-vivid-blue;
  border: $brand-vivid-blue;
}
.btn-danger{
  background-color: $brand-pink;
  border: $brand-pink;
}

.navbar {
  border-radius: 0;
  font-family: 'Inconsolata', monospace;

  .right {
    float: right;
  }
}

#landing {
  background-image: url('../images/base-map-blue.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 54px);
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  z-index: 10;

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 30px;
  }

  .form-group {
    width: 300px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .btn-secondary {
    cursor: pointer;
    border-color: $brand-grey;
    color: $brand-dark-blue;
      &:hover{
        background-color: $brand-pink;
        color: $brand-grey;
    }
  }

  #mainLanding {

    h1 {
      font-size: 50px;
      letter-spacing: 3px;
      font-weight: bold;

      .blue {
        color: $brand-vivid-blue;
      }
      .pink {
        color: $brand-pink;
      }
      .yellow {
        color: $brand-yellow;
      }
    }
    h2 {
      font-size: 30px;
      padding: 20px 0;
    }
    button {
      margin-top: 20px;
      padding: 15px 30px;
      font-size: 20px;
    }
  }

  .content {
    background-color: rgba($brand-dark-blue, .7);
    padding: 80px 20px;
    color: $brand-grey;
    text-align: center;
    width: 100%;
    min-height: 100%;

    .wrapper {
      width: 90%;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
    }

    .camelCase {
      text-transform: capitalize;
    }
    .card {
      // height: 200px;
      margin: 0 0 20px 0;
      border: none;

      .card-title {
        color: $brand-vivid-blue;
        margin: 0;
        padding: 20px;
      }

      .btn {
        margin: 10px auto;
        display: block;
        width: 150px;
        padding: 10px;
      }
      .card-block {
        padding: 0 0 20px;
      }
    }

  }
}


.nav-tabs {
  .nav-link {
    cursor: pointer;
    &.active{
      background-color: $brand-pink;
      &:hover{
        background-color: $brand-pink;

      }
    }
  }

}
.nav-tabs-mobile {
  display: none;
}

@media (max-width: 880px) {
  .nav-tabs {
    display: none;

  }
  .nav-tabs-mobile {
    display: block;
    &.dropdown {
      width: 100%;
      .dropdown-toggle {
        font-size: 16px;
        width: 100%;
      }
      .dropdown-menu {
        font-size: 16px;
        text-align: center;
        width: 100%;
        a {
          padding: 8px 20px;
        }
      }
    }
  }
}
