@import "_variables";

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}



#map {
  width: 64vw;
  height: 87vh;
  display: inline-block;
  margin: 5px 0px 5px 5px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  box-shadow: -5px 0px 5px #888888;


}

#travelModeDiv {
  visibility: hidden;
  position: relative;
  top: -643px;
  float: right;
  width: 34.95vw;
  height: 38px;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  padding-left: 10px;
  border: 2px solid lightgrey;
  box-shadow: -5px 0px 5px #888888;
  border-radius: 5px;
}

#sidePanel {
  font-family: 'Roboto','sans-serif';
  position: relative;
  top: 0px;
  padding-left: 10px;
  margin: 5px;
  width: 34.95vw;
  height: 87vh;
  float: right;
  overflow: auto;
  border: 2px solid lightgrey;
  box-shadow: -5px 0px 5px #888888;
  border-radius: 5px;
}

#friendCarouselDiv {
   visibility: hidden;
   margin-left: -120px;
   float: right;
   height: 70px;
   text-align: center;
  //  color: black;
   width: 34.95vw;
   position:absolute;
   top: 102px;
   left: 73%;
   border: 5px solid blue;
   border: 2px solid lightgrey;
   box-shadow: -5px 0px 5px #888888;
   border-radius: 5px;
}



#pac-input {
  width: 300px;
}
#carousel-example-generic {
   margin: 20px auto;
   width: 400px;
}

#carousel-custom {
   margin: 10px auto;
   width: 100%;
}


.priceLevel{
  width: 15px;
  height: 15px;
}

#placesItem {
  min-height: 162px;
  overflow: hidden;
  .textContainer {
    width: calc(100% - 175px);
    float: left;
    vertical-align: top;
    padding-right: 10px;
    word-break: break-all;
  h6 {
    font-size: 20px;
  }
  }
}

#imageContainer {
height: 150px;
width: 150px;
margin-top: 5px;
margin-right: 15px;
background-size: cover;
display: block;
float: right;
border-radius: 5px;
vertical-align: top;
}


a, #placesItem a, #friendCarouselDiv h4 {
   cursor: pointer; cursor: hand;
   display: block;
}

.btn-primary {
  background-color: $brand-vivid-blue;
  border: $brand-vivid-blue;
}
.btn-danger{
  background-color: $brand-pink;
  border: $brand-pink;
}
#landing {
  background-image: url('../images/base-map.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 54px);
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  z-index: 10;

  .container {
    background-color: rgba($brand-vivid-blue, .7);
    border-radius: 10px;
    padding: 30px;
    width: 600px;
    margin: auto;
    color: #fff;
    padding-top: 100px;
    text-align: center;

    button {
      margin-bottom: 50px;
    }
    .card-title {
      color: #424651;
    }

    .card {
      width: 400px;
      margin: 20px auto;

      .btn {
        margin: 0;
      }
    }
  }
}
