body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 72vw;
  height: 89.5vh;
  display: inline-block;
  border: 5px solid blue;

}

#travelModeDiv {
  visibility: hidden;
  position: absolute;
  top: 84px;
  left: 73%;
  z-index: 5;
  width: 27vw;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  border: 5px solid blue;
}

#sidePanel {
  font-family: 'Roboto','sans-serif';
  position: relative;
  top: 76px;
  line-height: 30px;
  padding-left: 10px;
  width: 27vw;
  height: 100%;
  float: right;
  overflow: auto;
  border: 5px solid blue;
}

#pac-input {
  width: 300px;
}
